@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap%27);

/*----------------------------------------Base----------------------------------------- */
:root {
--color-theme:  #FF7373;
--color-theme-light: #EDfCFA;
--color-theme-dark: #0e153D;
--color-theme-light-dark: #50546E;
--color-dark-3: #000000;
--color-dark: #080C24;
--color-dark-2: #23262A;
--color-dark-4: #222529;
--color-white: #FFFFFF;
--color-white-1: #F5F5F5;
--color-white-2: #E6E6E6;
--color-white-3: #F7F8FA;
--color-white-4: #F8F8F8;
--color-grey-0: #AAAAAA;
--color-grey-1: #CCCCCC;
--color-grey-2: #E3E3E3;
--color-grey-3: #EEEEEE;
--color-grey-4: #F6F6F6;
--color-grey-5: #777777;
--color-grey-6: #616365;
--color-grey-7: #BBBBBB;
--color-grey-8: #707070;
--color-grey-9: #70707066;
--color-product-instock: #82D8C6 ; 
--color-product-outofstock: #FE6C6C ; 
--color-product-outofstock-2: #FF7373;

--max-width: 1680px;

--font-play: Play, sans-serif;
--font-roboto: Roboto, sans-serif;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-bold: 700;
--font-size-14: 1.17rem ;
--font-size-16: 1.33rem ;
--font-size-18: 1.50rem;
--font-size-24: 2rem;
--font-size-36: 3rem;
--font-size-60: 5rem;
--font-size-65: 6rem;

--border-radius-small: 8px;
--border-radius-medium: 25px;
--border-radius-rounded: 50%;
}

/*--------------------------------------General--------------------------------------- */
html, body { 
    font-size: 16px;
    line-height: 1.5;
    font-family: 'poppins' , sans-serif;
    font-weight: 400px;
    
    
}

/* ----------------------------------General-button-------------------------------- */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special_button{
    position: relative;
    background-color: var(--color-product-outofstock-2);
    height: 50px;
    line-height: 30px;
    font-size: 15px;
    font-family: poppins;
    border-radius: 0;
    border: none;
    padding: 0.7rem 2rem 0.7rem 2rem;
}

.special_button::before,
.special_button::after{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
}

.special_button::before{
    left: 0.3rem;
    top: 0.3rem;
    border-left: 2px solid white;
    border-top: 2px solid white;
}
.special_button::after{
    right: 0.3rem;
    bottom: 0.3rem;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}


/*--------------------------------------Top-menu------------------------------------ */
.top-menu {
    background-color: var(--color-grey-2);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
   
}

    .top-menu .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
        
    }

    .brand-logo{
        font-family: 'poppins';
        font-size: 35px;
        font-weight: var(--font-weight-bold);
    }
    
/*------Top-menu-social-media-and-links------- */
   
  
    .top-menu .menu-links a {
        color: black;
        text-decoration: none;
        margin: 0 1.2rem;
        font-weight: 500;
        
    }       
        .top-menu .menu-links a:hover {
            color: var(--color-product-outofstock-2);
            text-decoration: underline;
            font-weight: 500;
        }

    .top-menu .container .social-media {
        width: 12.5rem;
        display: flex;
        justify-content: space-around;
       
    }
           

            .top-menu .social-media i {
                color: black;
                text-decoration: none;
               
            
            }

                .top-menu .social-media i:hover {
                    color: var(--color-theme);
                    text-decoration: none;
                    
            
                }

            /*----Top-menu-round-buttons-*/

            .social-media .btn {
                border-radius: 50%;
                
            }

                .bg-theme {
                    background-color: var(--color-theme);
                }



/* Responsiveness */

@media (min-width: 1600px){

    .container{
        max-width: var(--max-width);
    }
}
            


/* ---------------------------------------Showcase--------------------------------------------------*/

.showcase{
    width: 100%;
    background-color: var(--color-grey-2);
}


.showcase .container .showcase-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .showcase-content h1 {
        font-weight: 800;
        font-family: poppins;
        font-size: 65px;
        text-align: center;
    }

    .showcase-content p {
        font-size: 17px;
        margin-top: 40px;
        margin-bottom: 40px;
        
    }


    .showcase-content img {
        width: 570px;
        height: 570px;
    }

    ._img-left {
        margin-left:-120px;
    }

    ._img-right {
        margin-right:-120px;
    }


/*--------Button-showcase------*/


.showcase-content .general_button .special_button {
    margin-left: 7rem;
    margin-top: 1rem;
}

    .showcase-content .general_button .special_button:hover{
        color: black;
        transition: 0.3 ease-in-out;
    }


/* -------------------------------Featured-products---------------------------------*/


.new-arrivals .grid {        
    display: grid;
    column-gap: 0.5;
    grid-template-columns: repeat(8, 1fr);
    
}

.card {
    position: relative;
    height: 323px;
    width: 255px;
    border-radius: 0;
    border: none;
    overflow: hidden;
   
}

    .card .card-menu {
        position: absolute;
        top: 100%;
        right: 2%;
        list-style: none;
        margin: auto;
        padding: 0.5rem;
        background-color: var(--color-grey-3);
        transition: top 0.3s ease-in-out;
    }

        .card:hover .card-menu {
            top: 1px;
        }

        .card .card-menu li {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
           
        }

            .card-menu li .btn  {
                border-radius: 50%;
                color: white;
                
            }

            
                .card-menu li .btn:hover  {
                    background-color: black;
                    transition: 0.2 ease-in-out;
                
                }

            .card-menu li .btn i {
                color: black;
                
            }

                .card-menu li .btn i:hover  {
                    color: white;
                    transition: 0.2 ease-in-out;
                }


.card .card-general {
    position: absolute;
    bottom: 0;
    width: 100%;
}
 
    .card .card-general .card-info {
        position: relative;
        left: 0;
        bottom: 40px;
        width: 100%;
        background-color: var(--color-white);
        text-align: center;
        margin-bottom: 0;
    } 

        .card .card-general .category {
            margin-bottom: 0.5rem;
            left: 38%;
            font-family: poppins;
            font-weight: var(--font-weight-regular);
            color: var(--color-grey-6);
            font-size: 13px;
        }

        .card .card-general h1 {
            font-family: poppins;
            font-weight: var(--font-weight-semibold);
            font-size: 16px;
        }

        /*Header*/
        .featured-header h1 {
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-align: center;
            font-family: poppins;
            font-weight: var(--font-weight-semibold);
            font-size: 25px;
        }

        .card .card-general .text-theme {
            color: var(--color-theme);
        }


    /* Prices */
    .card .card-general .card-price {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        font-weight: 600;
    }
        .card .card-general .card-price .card-old-price {
            text-decoration: line-through;
        }
        
        /* Button QUICK VIEW */
 
        .card .card-general .special_button {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            margin-top: 2.7rem;
            transition: top 0.3s ease-in-out;
        }
            .card:hover .card-general .special_button {
                top: -135px;
                
            }
    

   .new-arrivals .card .img {
        height: 323px;
        width: 255;
        background-color: var(--color-grey-3);
   } 

/* ------------------Showcase pamelas reif and lets be concious----------------------*/


/* Img-left*/

.img-left {   
    position: relative;
    width: 633px;
    height: 314px;
    background-image: url(/images/pamela_reif.svg);
}

    .showcase-content-2{
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
    }


    .img-left h1 {
        position: absolute;
        left: 58%;
        top: 30%;
        font-family: poppins;
        font-weight: var(--font-weight-bold);
        font-size: 35px;
        color: var(--color-white);
    }

    .img-left .special_button {
        position: absolute;
        left: 58%;
        top: 60%;
        width: 10rem;
        height: 3rem;
        background-color: black;
        color: white;
        transition: 0.3s ease-in-out;
    }
        .img-left .special_button:hover {
            background-color: var(--color-white);
            color: black;
        }

 

/* Img-right */

.img-right {   
    position: relative;
    width: 633px;
    height: 314px;
    background-image: url(/images/lets-be-con.svg);
}

    .img-right h1 {
        position: absolute;
        left: 10%;
        top: 30%;
        font-family: poppins;
        font-weight: var(--font-weight-bold);
        font-size: 35px;
        color: var(--color-white);
    }

        .img-right .special_button {
            position: absolute;
            right: 65%;
            top: 60%;
            width: 10rem;
            height: 3rem;
            background-color: var(--color-white);
            color: black;
            transition: 0.3s ease-in-out;
        }
            .img-right .special_button:hover {
                background-color: black;
                color: white;
            }

    /* -------------------------Flash sale left side--------------------------- */

    
.flash-sale-left{
    margin-top: 5rem;
}
    
.flash-sale-left .grid {        
    display: grid;
    column-gap: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
   
}

    /* placeholder-box */
.flash-sale-left .img_left_box {
    background-color: var(--color-grey-1);
    height: 600px;
    width: 600px;
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}
    /* Flex-pos. */
    .flash-sale-left .img_left_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;
    }

        .flash-sale-left .img_left_box h1 {
           font-family: 'poppins';
           font-weight: 600;
           font-size: 55px;
           color: var(--color-white-1);
        }

        .img_left_box .img_left_button .btn {
            background-color: black;
            color: white;
    
        }

.flash-sale-left .card .img {
    height: 323px;
    width: 255px;
    background-color: var(--color-grey-3);
} 


/* -----------------------------------Flash sale right side-------------------------------- */
  
.flash-sale-right{
    margin-top: 5rem;
    border-bottom: var(--color-grey-7) solid 2px;
    
}
    
.flash-sale-right .grid {        
    display: grid;
    column-gap: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
   
}

    /* Box */
.flash-sale-right .img_right_box {
    background-color: var(--color-grey-1);
    height: 600px;
    width: 600px;
    grid-column: auto/span 2;
    grid-row: auto/span 2;
}
    /* Flex-pos. */
    .flash-sale-right .img_right_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;
    }

        .flash-sale-right .img_right_box h1 {
           font-family: 'poppins';
           font-weight: 600;
           font-size: 55px;
           color: var(--color-white-1);
        }

        .img_right_box .img_right_button .btn {
            background-color: black;
            color: white;
    
        }

.flash-sale-right .card .img {
    height: 323px;
    width: 255px;
    background-color: var(--color-grey-3);
} 


/*-----------------------------Info-menu----------------------------------*/

.bottom-menu .info-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

    .bottom-menu .info-menu .btn{
        border-radius: 50%;
        background-color: var(--color-grey-4);
        height: 50px;
        width: 50px;
    }

    .social-media-bottom {
        background-color: var(--color-grey-4);
        height: 10rem;
        margin-top: 5rem;
        border-top: var(--color-grey-7) solid 2px;
    }

.social-media-bottom .menu-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-media-bottom .menu-links .social-media {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}




/* ----------------------------------Contact.html---------------------------------- */

.breadcrumb {
    margin-bottom: 40px;
    margin-top: 20px;
}


    .breadcrumb .container {
        max-width: 1000px;

    }

    .breadcrumb .breadcrumb-list {
        list-style: none;
        margin: 0 0 0 0;  /* margin top ej slår igenom här*/
        padding: 0;
        
    }

        .breadcrumb-list li {
            display: inline-block;
            font-weight: 500;
            color: var(--color-theme);

        }

            .breadcrumb-list li a {
                color: black;
                text-decoration: none;
            }
                .breadcrumb-list li a:hover {
                    color:var(--color-theme);
                    text-decoration: underline;
                    
                }


    .breadcrumb-list li + li:before {
        content: ">\00a0";
        font-weight: 400;
        color: black;
    }

    /*------------------------------Section map-----------------------------------*/


    .map{
        margin-top: 2rem;
        margin-bottom: 70px;
    }
    .map .google-map{
        border: 0; 
        width: 100%; 
        height: 380px;
    }

    /*-------------------------------contact-form-------------------------------- */

    .contact-form .container {
        max-width: 1000px;
    }

    .contact-form form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .contact-form form input{
        padding: 18px 20px;
        border: 1px solid #70707066;
    }

    .contact-form form textarea{
        grid-column: 1 / -1;
        padding: 18px 20px;
        border: 1px solid #70707066;;
        height: 140px;
        resize: none;
    }

       
        .contact-form {
            margin-top: 60px;
        }


            .contact-form h2 {
                font-size: 18px;
                font-weight: var(--font-weight-bold);
                margin-bottom: 30px;
            }

            .btn-theme {
               position: relative;
               background-color: var(--color-theme);
               color: white;
               border: none;
               font-weight: 600;
               padding: 20px 50px;
               transition: all 0.2s ease-in-out;

            }
                .btn-theme:hover {
                    color: white;
                    background-color: black;
                    transition: all 0.2s ease-in-out;
                } 

